---
import { info } from '@libs/const'
import Search from '@components/notebook/layout/Search.astro'
import Button from '@components/notebook/ui/Button.astro'

const apps = [
  { name: '代码可行', href: '/dev', icon: '/dev/favicon.svg' },
  { name: '时间之外', href: '/lab', icon: '/lab/favicon.svg' },
  { name: '越过长城', href: '/server', icon: '/server/favicon.svg' },
]

const traveling = {
  name: '开往',
  href: 'https://www.travellings.cn/go.html',
  icon: 'i-ic-round-near-me',
}

export interface Props {
  title?: string
  favicon?: string
}

const { title = info.title, favicon = info.favicon } = Astro.props
---

<header w="full" p="6 t-8 sm:t-6" flex="~ row items-center justify-between">
  <section flex="~ 1 row items-center justify-start justify-self-start gap-4">
    <div
      class="group"
      pos="relative"
      w="12"
      h="12"
      flex="~ items-center justify-center"
    >
      <img
        src={favicon}
        alt={`${title} Logo`}
        w="12"
        h="12"
        rounded="full"
        shadow="lg hover:xl"
        transition="shadow"
      />

      <ul
        class="invisible group-hover:visible op-0 group-hover:op-100"
        pos="absolute left-14 top--2"
        w="40"
        p="2"
        transform="~ translate-x-0 group-hover:translate-x-0.5"
        rounded="md"
        shadow="sm group-hover:2xl"
        bg="subtle"
        border="1 main"
        cursor="default"
        transition="all"
      >
        {
          apps.map(({ name, href, icon }) => (
            <li>
              <a
                {href}
                target={href.startsWith('http') ? '_blank' : '_self'}
                rel={
                  href.startsWith('http') ? 'nofollow noopener noreferrer' : ''
                }
                flex="~ row gap-3 items-center"
                p="x-2 y-1.5"
                font="semibold"
                text="sm main hover:link"
                bg="subtle hover:hover"
                rounded
                transition="colors"
              >
                <img
                  src={icon}
                  alt={`${name} Logo`}
                  w="8"
                  h="8"
                  rounded="full"
                  shadow="lg"
                />

                <div flex="~ col">
                  <h3 class="leading-5 whitespace-nowrap" font="semibold">
                    {name}
                  </h3>
                  <code
                    class="leading-4 whitespace-nowrap"
                    font="medium mono"
                    text="xs subtle"
                  >
                    .{href.replace('https://', '')}
                  </code>
                </div>
              </a>
            </li>
          ))
        }

        <li text="right" class="leading-4">
          <a
            href="/"
            font="mono"
            text="sm subtle hover:link"
            m="x-2"
            title="返回主页"
          >
            cd ~
          </a>
        </li>
      </ul>
    </div>
    <div class="group" flex="~ col" select="none">
      <h1 text="xl" font="extrabold" w="fit">
        {title}
      </h1>
      <span
        w="full"
        h="0 group-hover:4"
        p="t-0 group-hover:t-0.5"
        text="xs subtle"
        overflow="hidden"
        transition="all"
      >
        {' ​( ゜- ゜)つロ 干杯 ~'}
      </span>
    </div>
  </section>
  <section
    class="hidden lg:flex"
    w="full"
    max-w="2xl"
    p="x-6"
    flex="justify-center"
  >
    <Search />
  </section>
  <section flex="~ 1 justify-end justify-self-end">
    <Button {...traveling} />
  </section>
</header>
