---
import type { MDXInstance } from 'astro'
import type { Article, Story } from '../../../types'
import Card from '../../ui/Card.astro'

const production = import.meta.env.MODE === 'production'

export interface Props {
  mode?: 'grid' | 'list'
  limit?: number
  id: string
  name: string
  contents: MDXInstance<Article>[] | MDXInstance<Story>[]
}

const { mode = 'list', limit, id, name, contents } = Astro.props
---

{
  contents.length === 0 ? (
    <div
      w="full"
      h="96"
      flex="~ col items-center justify-center"
      border="~ 1 color-line"
      bg="muted"
      rounded="md"
    >
      <h2 text="subtle">暂时没有{name}</h2>
    </div>
  ) : (
    <ul
      w="extend"
      m="x--4"
      p="x-4 b-5 sm:b-0"
      flex={mode === 'grid' ? 'none' : '~ sm:grid'}
      grid={
        mode === 'grid'
          ? '~ cols-1 sm:cols-2 gap-x-4 gap-y-5'
          : 'sm:~ sm:cols-2 gap-x-4 gap-y-5'
      }
      overflow="x-auto sm:unset"
    >
      {contents.slice(0, limit || contents.length).map(({ frontmatter }) => (
        <li w="full">
          <Card
            type={id}
            href={`/${id}/${frontmatter.id}`}
            mode={mode}
            frontmatter={frontmatter}
          />
        </li>
      ))}
    </ul>
  )
}
