---
import Main from '@components/layout/Main.astro'
import Layout from '@components/notebook/Layout.astro'
import MomentCard from '@components/notebook/moment/MomentCard.astro'
import MomentViewer from '@components/notebook/moment/MomentViewer.astro'
import { Icon } from 'astro-icon/components'
import { getCollection, render } from 'astro:content'
import dayjs from 'dayjs'

export async function getStaticPaths() {
  const moments = await getCollection('时刻')
  return moments.map(moment => ({
    params: { date: dayjs(moment.data.date).format('YYYY-MM-DD') },
    props: { moment },
  }))
}

const { moment } = Astro.props
const { Content, headings } = await render(moment)

const moments = await getCollection('时刻')
const yearMoments = moments
  .map(moment => moment.data)
  .sort((a, b) => dayjs(a.date).unix() - dayjs(b.date).unix())
  .filter(
    target =>
      dayjs(moment.data.date).isSame(dayjs(target.date), 'year') &&
      target.name !== moment.data.name,
  )
---

<Layout
  name={dayjs(moment.data.date).format('YYYY 年 MM 月 DD 日')}
  description={moment.data.name}
>
  <Main class:list={['sm:px-6 sm:py-4']}>
    <MomentViewer {...moment.data} />

    <section class:list={['w-full', 'mx-auto px-4 sm:px-0', 'flex flex-col']}>
      <div
        class:list={[
          'flex flex-col justify-center items-center gap-1',
          'px-4 py-6',
          'text-sm text-center text-neutral-500 dark:text-neutral-400',
        ]}
      >
        <span class:list={['flex', 'whitespace-nowrap']}>
          {
            yearMoments.length > 0 ? (
              <Fragment>
                {dayjs(moment.data.date).year()} 年还有 {yearMoments.length}
                个时刻
              </Fragment>
            ) : (
              <Fragment>
                没有更多 {dayjs(moment.data.date).year()} 年的时刻
              </Fragment>
            )
          }
        </span>
        <Icon
          name={yearMoments.length > 0
            ? 'ri:arrow-down-double-line'
            : 'ri:camera-4-line'}
          class:list={['w-4 h-4']}
        />
      </div>

      {
        yearMoments.length > 0 && (
          <ul
            class:list={[
              'w-auto max-w-full',
              'mx-auto my-0 p-0',
              'flex items-center gap-4',
              'overflow-x-auto [scrollbar-width:none] [&::-webkit-scrollbar]:hidden',
            ]}
          >
            {yearMoments.map(moment => (
              <div class:list={['w-auto']}>
                <MomentCard
                  moment={moment}
                  class:list={['!w-auto !h-60 sm:!h-72']}
                />
              </div>
            ))}
          </ul>
        )
      }
    </section>
  </Main>
</Layout>
