---
export interface Props {
  headers: Header[]
}

const { headers } = Astro.props as Props
const contents = Astro.resolve('../../libs/follow-contents.ts')
---

<nav data-contents data-hide>
  <ul>
    {headers.map(
      header =>
        (header.depth === 2 || header.depth === 3) && (
          <li
            title={header.text}
            data-depth={header.depth}
            data-slug={header.slug}
          >
            <a href={`#${header.slug}`} set:text={header.text} />
          </li>
        )
    )}
  </ul>
</nav>

<script src={contents} defer type="module" hoist></script>

<style lang="less">
  nav[data-contents] {
    position: fixed;
    top: 50%;
    left: 4.075rem;
    width: 18rem;
    color: var(--font-secondary);
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;

    @media (max-width: 72rem) {
      opacity: 0 !important;
      visibility: hidden !important;
    }

    &:hover {
      color: var(--font-primary);
    }

    ul {
      max-height: calc(100vh - 18rem);
      height: 100%;
      padding: 0.25rem 0;
      overflow-y: auto;
      scrollbar-width: none;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        width: 100%;
        padding: 0.125rem 1.5rem;
        list-style: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: inherit;
        border-left: var(--border);
        font-size: 0.925rem;
        transition: border-left 0.2s, font-size 0.2s;

        &[data-active] {
          border-left: solid 1px var(--font-link);
          color: var(--font-link);
        }

        a {
          width: 100%;
          margin: 0.5rem 0;
          color: inherit;

          &:focus-visible {
            outline-color: var(--font-link);
            outline-width: 0.25rem;
            outline-offset: 0.25rem;
            outline-style: solid;
          }

          &:hover,
          &:focus-visible {
            text-decoration: none;
            color: var(--font-link);
          }
        }

        &[data-depth='1'],
        &[data-depth='2'] {
          font-weight: var(--font-bold);
        }

        hr {
          margin: 0.5rem 0;
          border: none;
          border-top: var(--border);
        }
      }
    }
  }
</style>
