---
import Icon from '@components/ui/Icon.astro'

export interface Props {
  name?: string
  href?: string
  icon?: string
}
const { name, href, icon } = Astro.props
---

<a
  aria-label={name}
  href={href}
  target={href?.startsWith('http') ? '_blank' : ''}
  rel={href?.startsWith('http') ? 'nofollow noopener noreferrer' : ''}
  flex="~ row items-center gap-1"
  text="sm secondary hover:link"
  transition="colors"
>
  <Icon icon={icon} name={name} size="4" />
  <span>{name}</span>
</a>
