---
import Icon from '@components/ui/Icon.astro'
import IconText from '@components/ui/IconText.astro'
import Image from '@components/ui/Image.astro'
import { cdn } from '@libs/consts'
import { dateFormat, findContents, parseHref } from '@libs/utils'

export interface Props {
  name: string
  href: string
}
const { name, href } = Astro.props

const { type, id } = parseHref(href)
const entry = id && (await findContents(id))

const cover = entry && entry.data.cover
const external = type === '链接'
---

<a
  class="widget not-prose group"
  aria-label={name}
  {href}
  target={external ? '_blank' : '_self'}
  rel={external ? 'nofollow noopener noreferrer' : ''}
  pos="relative"
  grid={cover ? '~ cols-1 sm:cols-2' : '~ cols-1'}
  w="full"
  m="y-6"
  border="main 1"
  bg="popover"
  shadow="lg hover:xl"
  text="main"
  rounded="md"
  overflow="hidden"
  transition="all"
>
  {
    entry && entry.data.cover && (
      <div p="0 sm:2 sm:r-0">
        <div rounded="sm:~" border="secondary b-1 sm:1" overflow="hidden">
          <Image
            src={entry.data.cover.image.map(src => `${cdn}${src}`)}
            alt={entry.data.cover.caption}
            class="aspect-video object-t object-cover"
          />
        </div>
      </div>
    )
  }

  <section
    class={cover && 'backdrop-blur'}
    w="full"
    p="4"
    flex="~ col sm:gap-0.5"
  >
    <span
      text="md leading-7 main"
      w="full"
      flex="~ row gap-2 items-center"
      font="bold"
      m="b-2.5 sm:b-0.5"
      transition="colors"
    >
      <span
        p="x-1.5 y-0.75"
        bg="yellow-400"
        text="dark-900 xs nowrap"
        font="medium"
        rounded="full"
        transform="~ scale-95"
      >
        {type}
      </span>
      <span text="truncate"> {(entry && entry?.data?.name) || name}</span>
      {
        entry && entry?.data?.subtitle && (
          <span text="md secondary truncate" font="leading-7">
            {entry?.data?.subtitle}
          </span>
        )
      }
    </span>
    <span flex="1"></span>
    {
      entry && (
        <span
          class="break-all md:break-word"
          text="sm sm:xs main justify"
          font="leading-6 sm:leading-5"
          p="b-1"
        >
          {entry.data.description}
        </span>
      )
    }
    <section flex="~ row gap-1 items-center justify-between">
      {
        entry ? (
          <IconText name="日期" icon="i-ri:time-line" type="time">
            {dateFormat(entry.data.date.created)}
          </IconText>
        ) : (
          <span text="xs secondary" font="mono">
            {id ? `/${id}` : href}
          </span>
        )
      }

      <Icon
        name="查看"
        size="4"
        icon="i-ri:arrow-right-line"
        class="mx--0.5 group-hover:rotate-45 transition-transform"
      />
    </section>
  </section>
</a>
