---
import App from '@components/App.astro'
import Header from '@components/base/Header.astro'

const name = '时间之外'
const description = '在这里做一些有意思的东西。'
const color = '#f75248'
const favicon = '/lab/favicon.svg'
---

<App {name} {description} {color} {favicon}>
  <Header slot="header" {name} />
  <main flex="~ 1 col items-center justify-center gap-3" p="8" select="none">
    <h1 text="2xl" font-extrabold>{name}</h1>
  </main>
</App>
