---
import Container from '@components/Container.astro'

export async function getStaticPaths() {
  const apps = [
    {
      title: '代码可行',
      description: '这里有一些我做过的开源项目。',
      color: '#29b7f7',
      favicon: '/dev/favicon.svg',
      id: 'dev',
    },
    {
      title: '时间之外',
      description: '在这里尝试做一些有趣的东西。',
      color: '#f75248',
      favicon: '/lab/favicon.svg',
      id: 'lab',
    },
    {
      title: '越过长城',
      description:
        'Across the Great Wall we can reach every corner in the world.',
      color: '#40d583',
      favicon: '/server/favicon.svg',
      id: 'server',
    },
  ]

  return apps.map(({ id, ...props }) => ({
    params: { app: id },
    props: { id, ...props },
  }))
}

const { id, title, description, color, favicon } = Astro.props
export const prerender = true
---

<Container {title} {description} {color} {favicon}>
  <main
    h="screen"
    flex="~ row items-center justify-center gap-4"
    p="8"
    select="none"
  >
    <img
      src={favicon}
      alt={`Logo | ${title}`}
      w="12"
      h="12"
      rounded="full"
      shadow="lg hover:xl"
      transition="shadow"
    />
    <span w="0" h="12" border="r-1 main"></span>
    <div flex="~ col gap-0.5">
      <h1 text="xl" font="extrabold">{title}</h1>
      <code text="sm subtle" font="mono">
        <a
          href="/"
          title="返回主页"
          text="subtle hover:link"
          transition="colors"
        >
          {'..'}
        </a>
        <span>/{id}</span>
      </code>
    </div>
  </main>
</Container>
