---
import Spacer from '@components/ui/Spacer.astro'
import { frontmatterFormat } from '@libs/utils'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'
import 'dayjs/locale/zh-cn'
import relativeTime from 'dayjs/plugin/relativeTime'
import type { Story } from 'src/content'

dayjs.extend(relativeTime)
dayjs.locale('zh-cn')

interface Props {
  story: Story
}

const { story } = Astro.props

const articles = await getCollection('文章')
const archives = await getCollection('存档')

const storyArticles = articles
  .filter(article => story.articles?.includes(article.data.id))
  .map(article => article.data)

const storyArchives = archives
  .filter(archive => story.articles?.includes(archive.data.name))
  .map(archive => frontmatterFormat(archive.data))

const allArticles = [...storyArticles, ...storyArchives].filter(
  article => import.meta.env.DEV || !article.draft,
)
---

<li class:list={['w-full', 'list-none']}>
  <a
    href={`/stories/${story.id}`}
    class:list={[
      'relative z-1 hover:z-10',
      'w-full',
      'p-4',
      'flex flex-col gap-4',
      'text-neutral-950 dark:text-neutral-100',
      'bg-white dark:bg-neutral-850',
      'focus-visible:outline-yellow-500 dark:focus-visible:outline-yellow-400 focus-visible:outline-4 focus-visible:outline-offset-1',
      'no-underline',
      'rounded-2xl',
      'hover:shadow-2xl',
      'transition-all',
    ]}
  >
    <Image
      src={story.cover.path}
      alt={story.cover.description}
      title={story.cover.description}
      loading="lazy"
      layout="full-width"
      class:list={[
        'w-full h-auto',
        'rounded-md',
        'aspect-1/1',
        'object-cover',
        'animate-fade-in',
      ]}
    />

    <div class:list={['flex flex-row items-center gap-2']}>
      <h2 class:list={['m-0', 'font-bold text-sm']}>
        # {story.name}
      </h2>
      <Spacer />
      <code
        class:list={[
          'm-0 p-0',
          'text-sm text-neutral-500 dark:text-neutral-400 font-sans',
          'break-all md:break-word',
          'truncate',
        ]}
      >
        ×{allArticles.length || 0}
      </code>
    </div>
  </a>
</li>
