---
import Spacer from '@components/ui/Spacer.astro'
import { frontmatterFormat } from '@libs/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'
import 'dayjs/locale/zh-cn'
import relativeTime from 'dayjs/plugin/relativeTime'
import type { Story } from 'src/content'

dayjs.extend(relativeTime)
dayjs.locale('zh-cn')

interface Props {
  story: Story
}

const { story } = Astro.props

const articles = await getCollection('文章')
const archives = await getCollection('存档')

const storyArticles = articles
  .filter(article => story.articles?.includes(article.data.id))
  .map(article => article.data)

const storyArchives = archives
  .filter(archive => story.articles?.includes(archive.data.name))
  .map(archive => frontmatterFormat(archive.data))

const allArticles = [...storyArticles, ...storyArchives].filter(
  article => import.meta.env.DEV || !article.draft,
)
---

<li class:list={['w-full', 'list-none']}>
  <a
    href={`/stories/${story.id}`}
    class:list={[
      'relative z-1 hover:z-10',
      'w-full',
      'p-4',
      'flex flex-row-reverse sm:flex-col gap-4',
      'text-neutral-950 dark:text-neutral-100',
      'bg-white dark:bg-neutral-850',
      'focus-visible:outline-yellow-500 dark:focus-visible:outline-yellow-400 focus-visible:outline-4 focus-visible:outline-offset-1',
      'no-underline',
      'rounded-2xl',
      'hover:shadow-2xl',
      'transition-all',
    ]}
  >
    <div class:list={['flex']}>
      <Image
        src={story.cover.path}
        alt={story.cover.description}
        title={story.cover.description}
        loading="lazy"
        layout="full-width"
        class:list={[
          'w-full h-auto',
          'text-sm text-neutral-500 dark:text-neutral-400',
          'bg-neutral-100 dark:bg-neutral-900',
          'rounded-md',
          'aspect-4/3 sm:aspect-1/1',
          'object-cover',
          'animate-fade-in',
        ]}
      />
    </div>

    <div
      class:list={[
        'w-auto sm:w-full',
        'flex flex-col sm:flex-row items-center gap-2',
      ]}
    >
      <Icon name="ri:hashtag" class:list={['w-4 h-4', 'mt-1 sm:mt-0']} />
      <h2
        class:list={[
          'm-0',
          'font-medium text-sm',
          'tracking-[0.15rem] sm:tracking-normal writing-vertical sm:writing-normal',
        ]}
      >
        {story.name}
      </h2>
      <Spacer />
      <code
        class:list={[
          'm-0 p-0',
          'text-sm text-neutral-500 dark:text-neutral-400 font-sans',
          'break-all md:break-word',
          'truncate',
        ]}
      >
        ×{allArticles.length || 0}
      </code>
    </div>
  </a>
</li>
