---
import { Icon } from 'astro-icon/components'

interface Props {
  name?: string
  href?: string
  icon: string
  active?: boolean
}

const { name, href, icon, active } = Astro.props

const Element = href ? 'a' : 'button'
---

<Element
  aria-label={name}
  href={href}
  target={href ? (href.startsWith('http') ? '_blank' : '_self') : ''}
  rel={href
    ? href.startsWith('http')
      ? 'nofollow noopener noreferrer'
      : ''
    : ''}
  title={name}
  class:list={[
    'group flex items-center justify-center',
    'px-3.5 py-2 gap-2.5',
    'border-none',
    'bg-transparent hover:bg-neutral-200 dark:hover:bg-neutral-850',
    'whitespace-nowrap',
    'cursor-pointer no-underline',
    'rounded-full',
    'focus-visible:outline-yellow-500 dark:focus-visible:outline-yellow-400 focus-visible:outline-4 focus-visible:outline-offset-1',
    'transition-all',
    active
      ? 'text-neutral-950 dark:text-neutral-100'
      : 'text-neutral-300 dark:text-neutral-500 hover:text-neutral-500 dark:hover:text-neutral-300',
  ]}
>
  {icon && <Icon name={icon} class:list={['w-5 h-5']} />}
  <span class="sr-only">{name}</span>
</Element>
