---
import Tooltip from '../ui/Tooltip.astro'

const navs = [
  {
    name: '开往',
    href: 'https://travellings.link/',
    icon: 'icon-tabler:location',
  },
  { name: '随笔', href: '/life', icon: 'icon-tabler:note' },
]

const apps = [
  { name: '代码可行', href: '/dev', icon: 'icon-tabler:brackets' },
  { name: '时间之外', href: '/lab', icon: 'icon-tabler:math-avg' },
  { name: '越过长城', href: '/server', icon: 'icon-tabler:delta' },
]
---

<nav flex="~ row items-center gap-2" p="sm:x-2">
  {
    navs.map(({ name, href, icon }) => (
      <Tooltip content={name} circle extend>
        <a
          slot="action"
          aria-label={name}
          href={href}
          target={href.startsWith('http') ? '_blank' : '_self'}
          rel={href.startsWith('http') ? 'nofollow noopener noreferrer' : ''}
          p="2.5"
          flex="~ col items-center"
          rounded="full"
          bg="group-hover:action"
          outline="~ none focus-visible:(4 yellow)"
          transition="background-color"
        >
          <div class={icon} w-5 h-5 />
        </a>
      </Tooltip>
    ))
  }

  <Tooltip circle align="right" extend>
    <button
      slot="action"
      aria-label="更多"
      flex="~ col items-center"
      p="2.5"
      rounded="full"
      bg="group-hover:action"
      outline="~ none focus-visible:(4 yellow)"
      transition="background-color"
    >
      <div class="icon-tabler:apps" w-5 h-5></div>
    </button>
    <ul slot="content" flex="~ col items-center" p="1.5">
      {
        apps.map(({ name, href, icon }) => (
          <li flex="~" w="full">
            <a
              aria-label={name}
              href={href}
              w="full"
              p="x-2 y-1.5"
              flex="~ row items-center justify-start gap-3"
              rounded="md focus-visible:sm"
              bg="hover:subtle"
              outline="~ none focus-visible:(4 yellow)"
              transition="background-color"
            >
              <div class={icon} w-5 h-5 />
              <h2 font="500" font="sm" flex="~ 1" p="r-1">
                {name}
              </h2>
            </a>
          </li>
        ))
      }
    </ul>
  </Tooltip>
</nav>
