---
import ExternalLink from 'component:base/ExternalLink'

const base = `https://dev.lifeni.life`
const assets = `${base}/assets`
const items = `${base}/items`

const hero = (await fetch(`${items}/hero`).then(r => r.json())) as About
const friends = (await fetch(`${items}/friends`).then(r => r.json())) as Friends
---

<article>
  <Fragment set:html={hero.data.content} />
  <section>
    {friends.data.map(friend => (
      <ExternalLink href={friend.link} data-name={friend.name}>
        <img
          aria-label={friend.name}
          src={`${assets}/${friend.avatar}`}
          alt={friend.name}
        />
      </ExternalLink>
    ))}
  </section>
</article>

<style lang="less" global>
  article {
    margin: 1rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-sans);
    line-height: 1.875;

    @media (max-width: 36rem) {
      margin: 1rem 0 2.75rem 0;
    }

    @media (max-width: 28rem) {
      margin: 1rem 0 2.5rem 0;

      span[data-optional] {
        display: none;
      }
    }

    h1 {
      font-weight: var(--font-bold);
      text-justify: none;
      text-align: left;
      margin: 0 0 4rem 0;
      font-size: 1.875rem;
      line-height: 1.75;

      &::before {
        content: '👋🏻';
        margin-right: 1rem;
        margin-left: -0.125rem;
        font-weight: var(--font-normal);

        @media (max-width: 28rem) {
          margin-left: 0;
        }
      }

      @media (max-width: 36rem) {
        font-size: 1.75rem;
      }

      @media (max-width: 28rem) {
        margin: 0 0 3rem 0;
        font-size: 1.625rem;
      }
    }

    p {
      margin: 0.5rem 0;
    }

    strong {
      font-weight: var(--font-bold);
    }

    section {
      width: 100%;
      margin: 0;
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      a {
        position: relative;
        display: flex;
        border-radius: 50%;

        img {
          width: 2.5rem;
          height: 2.5rem;
          border: var(--border);
          border-radius: 50%;
          box-shadow: var(--shadow-lite);
          color: transparent;
          background-color: var(--background-subtle-r);
          transition: all 0.2s;
        }

        &::before {
          content: attr(data-name);
          position: absolute;
          top: -3.75rem;
          left: 50%;
          padding: 0.125em 0.75em;
          font-size: 0.925rem;
          color: var(--light);
          background-color: var(--dark);
          border-radius: var(--border-radius);
          border: var(--border);
          box-shadow: var(--shadow);
          transform: translateX(-50%) translateY(0.25rem) scale(0.9);
          transform-origin: bottom;
          white-space: nowrap;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s;
        }

        &:hover,
        &:focus-visible {
          text-decoration: none;
          outline: none;

          &::before {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0) scale(1);
          }

          img {
            box-shadow: var(--shadow);
            transform: scale(1.5);
            transform-origin: bottom;
          }
        }
      }
    }
  }
</style>
