---
export interface Props {
  title?: string
  description?: string
  color?: string
  favicon?: string
  app?: '记录干杯' | '代码可行' | '时间之外' | '越过长城'
  theme?: 'paper' | 'main'
}

import '@fontsource/noto-sans-sc/500.css'
import '@fontsource/noto-sans-sc/700.css'
import '@fontsource/noto-sans-sc/900.css'
import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'

import Header from './base/Header.astro'
import Footer from './base/Footer.astro'

const production = import.meta.env.MODE === 'production'

const {
  title = '记录干杯',
  description = '个人网站「记录干杯」，在这里记录一些技术相关的文章、尝试一些新的技术。',
  color = '#feec44',
  favicon = '/favicon.svg',
  app,
  theme = 'main',
} = Astro.props
---

<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}{app === '记录干杯' && ' - 记录干杯'}</title>

    <meta name="description" content={description} />
    <meta name="theme-color" content={color} />
    <link rel="icon" href={favicon} />
    <link rel="manifest" href="/manifest.webmanifest" />

    <slot name="head" />
  </head>

  <body
    position="relative"
    w="screen"
    h="screen"
    flex="~ col items-center justify-start"
    text="main"
    font="500 sans"
    bg={theme === 'paper' ? 'paper' : 'main'}
    overflow="x-hidden y-overlay"
    scroll="smooth"
    scrollbar="~ rounded main"
  >
    <Header title={title} favicon={favicon} app={app} theme={theme} />
    <main w="full" flex="~ 1 col">
      <slot />
    </main>
    <Footer />
    {
      production && (
        <div
          position="fixed"
          left="0"
          bottom="0"
          w="screen"
          flex="~ items-center justify-center"
          p="x-4 y-2"
          font="900"
          bg="yellow-500 dark:yellow-700"
        >
          网站正在重新设计中，部分功能可能不可用。
        </div>
      )
    }
  </body>
</html>
