---
import Group from '../base/Group.astro'
import ExternalLink from '../base/ExternalLink.astro'

import { items, assets } from '../../const'

const projects = (await fetch(`${items}/projects`).then(r =>
  r.json()
)) as Projects
---

<Group title="开源项目">
  {projects.data.map(project => (
    <li>
      <ExternalLink href={project.github}>
        <img src={`${assets}/${project.icon}`} alt={project.name} />
        <h3>{project.name}</h3>
        <p>{project.description}</p>
      </ExternalLink>
    </li>
  ))}
</Group>

<style lang="less">
  li {
    width: 100%;
    list-style: none;

    a {
      width: 100%;
      padding: 0.25rem 0.75rem;
      display: flex;
      align-items: center;
      color: var(--font-primary);
      border-radius: var(--border-radius);
      border: solid var(--border-width) var(--card-background);
      gap: 1.5rem;

      img {
        width: 1.25rem;
        height: 1.25rem;
      }

      h3 {
        font-size: 1rem;
        line-height: 1.5;
        white-space: nowrap;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover,
      &:focus-visible {
        text-decoration: none;
        border: var(--border);
        background-color: var(--card-background-focus);
        outline-offset: 0;

        &:after {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }
  }
</style>
