---
import { Icon } from 'astro-icon'
import Group from '../base/Group.astro'
import ExternalLink from '../base/ExternalLink.astro'

import { items, assets } from '../../const'

const projects = (await fetch(`${items}/apps`).then(r => r.json())) as Projects
---

<Group title="开源项目">
  <ul>
    {projects.data.map(project => (
      <li>
        <img src={`${assets}/${project.icon}`} alt={project.name} />
        <div data-info>
          <h3 title={project.name}>{project.name}</h3>
          <p title={project.description}>{project.description}</p>
          <div data-links>
            {project.github && (
              <ExternalLink href={project.github}>
                <Icon name="tabler:brand-github" aria-label="GitHub" />
                <span>GitHub</span>
              </ExternalLink>
            )}

            {project.website && (
              <ExternalLink href={project.website} data-tooltip="网站">
                <Icon name="tabler:world" aria-label="网站" />
                <span>网站</span>
              </ExternalLink>
            )}

            {project.docs && (
              <ExternalLink href={project.docs} data-tooltip="文档">
                <Icon name="tabler:vocabulary" aria-label="文档" />
                <span>文档</span>
              </ExternalLink>
            )}

            {project.package && (
              <ExternalLink href={project.package} data-tooltip="获取">
                <Icon name="tabler:apps" aria-label="获取" />
                <span>获取</span>
              </ExternalLink>
            )}
          </div>
        </div>
      </li>
    ))}
  </ul>
</Group>

<style lang="less">
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

    li {
      width: 100%;
      padding: 0.5rem 0.75rem;
      display: flex;
      gap: 1.25rem;
      list-style: none;

      img {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.5rem 0 0;
        border-radius: 100%;
        box-shadow: var(--shadow);
      }

      div[data-info] {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        h3 {
          padding: 0 0 0.125rem 0;
          font-size: 1rem;
          font-weight: var(--font-normal);
          line-height: 1.875;
          white-space: nowrap;

          @media (max-width: 36rem) {
            padding: 0 0 0.25rem 0;
          }
        }

        p {
          color: var(--font-secondary);
          font-size: 0.925rem;
          line-height: 1.75;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        div[data-links] {
          padding: 0.5rem 0 0.125rem 0;
          display: flex;
          align-items: center;
          gap: 0.75rem;

          @media (max-width: 36rem) {
            padding: 0.25rem 0 0 0;
          }

          a {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--font-secondary);
            font-size: 0.925rem;

            svg {
              width: 1.25rem;
              height: 1.25rem;
            }

            span {
              display: none;
              line-height: 1.75;
              white-space: nowrap;

              @media (max-width: 36rem) {
                margin: 0 0 0 0.5rem;
                display: flex;
              }
            }

            &:hover,
            &:focus-visible {
              color: var(--font-link);
            }
          }
        }
      }
    }
  }
</style>
