---
import Group from '../base/Group.astro'
import ExternalLink from '../base/ExternalLink.astro'

import { items, assets } from '../../const'

const projects = (await fetch(`${items}/projects`).then(r =>
  r.json()
)) as Projects
---

<Group title="开源项目">
  <ul>
    {projects.data.map(project => (
      <li>
        <ExternalLink href={project.github}>
          <img src={`${assets}/${project.icon}`} alt={project.name} />
          <div data-info>
            <h3 title={project.name}>{project.name}</h3>
            <p title={project.description}>{project.description}</p>
          </div>
        </ExternalLink>
      </li>
    ))}
  </ul>
</Group>

<style lang="less">
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

    li {
      width: 100%;
      list-style: none;

      a {
        width: 100%;
        padding: 0.5rem 0.75rem;
        display: flex;
        align-items: center;
        color: var(--font-primary);
        border-radius: var(--border-radius);
        border: solid var(--border-width) var(--card-background);
        gap: 1.5rem;

        img {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 100%;
          box-shadow: var(--shadow);
        }

        div[data-info] {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow: hidden;

          h3 {
            font-size: 1rem;
            font-weight: var(--font-normal);
            line-height: 1.75;
            white-space: nowrap;
          }

          p {
            color: var(--font-secondary);
            font-size: 0.925rem;
            line-height: 1.75;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &:hover,
        &:focus-visible {
          text-decoration: none;
          border: var(--border);
          background-color: var(--card-background-focus);
          outline-offset: 0;
        }
      }
    }
  }
</style>
