---
import { avatar as file } from '@libs/consts'

const friends = [
  { name: 'Nanako', href: 'https://tanakarino.cn/', avatar: 'Nanako.webp' },
  {
    name: 'bluebonnet27',
    href: 'https://bluebonnet27.github.io/',
    avatar: 'bluebonnet27.webp',
  },
  {
    name: 'GluttonK',
    href: 'https://blog.csdn.net/GluttonK/',
    avatar: 'GluttonK.webp',
  },
  {
    name: 'Wumbuk',
    href: 'https://blog.csdn.net/qq_48081868/',
    avatar: 'Wumbuk.webp',
  },
  { name: 'YueChen', href: 'https://www.yuechen.xyz/', avatar: 'YueChen.webp' },
  { name: 'ss967', href: 'https://ssblog.top/', avatar: 'ss967.webp' },
  {
    name: 'Bakapiano',
    href: 'https://bakapiano.github.io/',
    avatar: 'Bakapiano.webp',
  },
]

const links = [
  [
    {
      name: 'GitHub',
      description: 'github.com/Lifeni',
      href: 'https://github.com/Lifeni',
      icon: 'i-carbon-logo-github',
    },
    {
      name: '邮件联系',
      description: 'liangfengning@foxmail.com',
      href: 'mailto:liangfengning@foxmail.com',
      icon: 'i-ic-round-email',
    },
  ],
  [
    {
      name: '随意链接',
      description: 'iokl.link',
      href: 'https://iokl.link',
      icon: 'i-ic-round-bookmark-add',
    },
    {
      name: '数据有限',
      description: 'file.lifeni.life',
      href: 'https://file.lifeni.life',
      icon: 'i-ic-round-cloud',
    },
  ],
]
---

<section flex="~ col gap-4">
  <h2 id="朋友" class="scroll-mt-4" text="subtle">
    {friends.length} 个朋友
  </h2>
  <div grid="~ cols-1 sm:cols-2 gap-6 items-start">
    <ul flex="1" grid="~ cols-5 xs:cols-7 sm:cols-5 gap-4" p="y-2">
      {
        friends.map(({ name, href, avatar }) => (
          <li class="group hover:z-100" w="full" flex="~ col gap-6">
            <a
              {href}
              target="_blank"
              rel="nofollow noopener noreferrer"
              pos="relative"
              rounded="full"
              flex="~"
            >
              <img
                src={`${file}${avatar}`}
                alt={`${name} 的头像`}
                class="aspect-square translate-y-0 scale-100 group-hover:translate-y--4 group-hover:scale-135"
                w="full"
                rounded="full"
                shadow="lg hover:xl"
                transition="all"
              />
              <span
                class="top-8 op-0 group-hover:op-100 whitespace-nowrap"
                pos="absolute left-1/2"
                p="x-2 y-1"
                flex="~"
                font="semibold"
                bg="subtle"
                rounded
                border="1 main"
                text="xs"
                shadow="xl"
                transform="~ translate-x--1/2 translate-y-0 group-hover:translate-y--0.5"
                overflow="hidden"
                transition="all"
              >
                {name}
              </span>
            </a>
          </li>
        ))
      }
    </ul>

    <div
      class="order--1 sm:order-none"
      flex="~ col gap-2"
      bg="subtle"
      p="2"
      border="1 main"
      rounded="md"
      shadow="lg hover:xl"
      transition="shadow"
    >
      {
        links.map((section, i) => (
          <Fragment>
            <section flex="~ row items-center gap-2">
              {section.map(({ name, description, href, icon }, i) => (
                <Fragment>
                  <a
                    {href}
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="group"
                    flex="~ 1 row items-center gap-3"
                    p="x-2 y-1.5"
                    text="sm main hover:link truncate"
                    bg="subtle hover:hover"
                    font="semibold"
                    rounded
                    transition="colors"
                  >
                    <span
                      class={icon}
                      w="6"
                      h="6"
                      min-w="6"
                      flex="~ 1"
                      text="subtle group-hover:link"
                      transition="colors"
                    />
                    <div w="full" flex="~ col" text="truncate">
                      <h3 class="leading-5 whitespace-nowrap" font="semibold">
                        {name}
                      </h3>
                      <code
                        class="leading-4"
                        w="full"
                        font="medium mono"
                        text="xs subtle truncate"
                      >
                        {description}
                      </code>
                    </div>
                  </a>
                  {section.length !== i + 1 && (
                    <span w="0" h="16" m="y--2" border="0 r-1 main" />
                  )}
                </Fragment>
              ))}
            </section>
            {links.length !== i + 1 && (
              <span w="calc(100% + 8)" h="0" m="x--2" border="0 b-1 main" />
            )}
          </Fragment>
        ))
      }
    </div>
  </div>
</section>