---
import { file } from '@libs/consts'
import dayjs from 'dayjs'
import type { Article } from 'src/types'

export interface Props extends Article {
  type?: '文章' | '专题'
}

const {
  type = '文章',
  name,
  subtitle,
  date,
  description,
  id,
  cover,
  draft,
  tags,
} = Astro.props
---

<div class="group" flex="~ col gap-6">
  {
    cover && (
      <img
        class="aspect-video object-cover"
        src={`${file}${cover.image}`}
        alt={cover.caption}
        w="full"
        shadow="lg hover:xl"
        rounded="md"
        transition="shadow"
      />
    )
  }

  <section flex="~ col gap-1">
    <h2
      class="leading-8"
      max-w="full"
      flex="~ row gap-3 items-center"
      text="xl"
      font="extrabold"
    >
      {
        draft && (
          <span text="sm dark-900" bg="yellow-400" p="x-1.5 y-0.5" rounded>
            {'草稿'}
          </span>
        )
      }

      <a
        href={`/${type === '专题' ? 'story' : 'article'}/${id}`}
        text="truncate hover:link"
        underline="none hover:~ from-font hover:offset-4"
        transition="colors"
      >
        {name}
      </a>

      {
        subtitle && (
          <span font="medium" text="subtle truncate">
            {subtitle}
          </span>
        )
      }
    </h2>
    <p class="leading-7 break-all md:break-words text-justify">
      {description}
    </p>
    <span class="leading-7" flex="~ row gap-2 items-center " text="sm subtle">
      {
        tags ? (
          tags.map(tag => <span>{tag}</span>)
        ) : type === '专题' ? (
          <span>专题</span>
        ) : (
          <span>存档</span>
        )
      }
      <span>|</span>
      <time datetime={dayjs(date.created).format('YYYY-MM-DD')}>
        {dayjs(date.created).format('YYYY 年 MM 月 DD 日')}
      </time>
    </span>
  </section>
</div>
