---
import type { MDXInstance } from 'astro'
import type { Article } from '../../types.d'
import Card from '../ui/Card.astro'

const production = import.meta.env.MODE === 'production'
const articles = (await Astro.glob<Article>('../../notebook/文章/*.mdx'))
  .filter(({ frontmatter }) => !production || !frontmatter.draft)
  .sort(
    (a: MDXInstance<Article>, b: MDXInstance<Article>) =>
      new Date(b.frontmatter.date.created).getTime() -
      new Date(a.frontmatter.date.created).getTime()
  )

export interface Props {
  less?: boolean
  grid?: boolean
}

const length = articles.length
const count = 2
const { less, grid } = Astro.props
---

{
  length === 0 ? (
    <div
      w="full"
      h="96"
      flex="~ col items-center justify-center"
      border="~ 1 color-line"
      bg="muted"
      rounded="md"
    >
      <h2 text="subtle">暂时没有文章</h2>
    </div>
  ) : (
    <ul
      w="extend"
      m="x--4"
      p="x-4 b-5 sm:b-0"
      flex={grid ? 'none' : '~ sm:grid'}
      grid={
        grid
          ? '~ cols-1 sm:cols-2 gap-x-4 gap-y-5'
          : 'sm:~ sm:cols-2 gap-x-4 gap-y-5'
      }
      overflow="x-auto sm:unset"
    >
      {articles.slice(0, less ? count : length).map(({ frontmatter }) => (
        <li w="full">
          <Card
            href={`/article/${frontmatter.id}`}
            grid={grid}
            cover={frontmatter.cover}
            name={frontmatter.name}
            description={frontmatter.description}
            date={frontmatter.date}
          />
        </li>
      ))}
    </ul>
  )
}
