---
import Tooltip from '../ui/Tooltip.astro'

const friends = [
  {
    name: 'Nanako',
    href: 'https://tanakarino.cn/',
    avatar: 'Nanako.webp',
    type: '无法访问',
  },
  {
    name: 'bluebonnet27',
    href: 'https://bluebonnet27.github.io/',
    avatar: 'bluebonnet27.webp',
    type: '暂停更新',
  },
  {
    name: 'GluttonK',
    href: 'https://blog.csdn.net/GluttonK/',
    avatar: 'GluttonK.webp',
    type: '暂停更新',
  },
  {
    name: 'Wumbuk',
    href: 'https://blog.csdn.net/qq_48081868/',
    avatar: 'Wumbuk.webp',
    type: '一切正常',
  },
  {
    name: 'YueChen',
    href: 'https://www.yuechen.xyz/',
    avatar: 'YueChen.webp',
    type: '一切正常',
  },
  {
    name: 'ss967',
    href: 'https://ssblog.top/',
    avatar: 'ss967.webp',
    type: '暂停更新',
  },
  {
    name: 'Bakapiano',
    href: 'https://bakapiano.github.io/',
    avatar: 'Bakapiano.webp',
    type: '暂停更新',
  },
]

const base = 'https://file.lifeni.life/avatar/friends'
const status = (name: string) =>
  [
    { name: '无法访问', icon: 'icon-tabler:forbid', color: 'bg-red-400' },
    { name: '暂停更新', icon: 'icon-tabler:progress', color: 'bg-amber-400' },
    { name: '一切正常', icon: 'icon-tabler:link', color: 'bg-blue-400' },
  ].find(i => i.name === name)
---

<div flex="~ col gap-5 sm:gap-3" p="b-5 sm:b-0">
  <p m="t--1" p="x-2 sm:x-0" text="subtle sm justify" leading="6.5">
    这些是我的朋友，有时间欢迎去他们的网站看看，或者可以点击上方导航栏的
    <span text="hover:link" cursor="default" transition="colors">
      <span
        class="icon-tabler:map"
        w="4.5"
        h="4.5"
        m="b-0.75"
        display="inline-block"
        align="middle"></span> 开往
    </span> 随机前往另一个网站，另外也可以通过
    <span text="hover:link" cursor="default" transition="colors">
      <span
        class="icon-tabler:mail"
        w="4.5"
        h="4.5"
        m="b-0.75"
        display="inline-block"
        align="middle"></span>
      邮件
    </span>
    找到我。
  </p>

  <div w="full" grid="~ cols-5 xs:cols-6 sm:cols-5 gap-4" p="r-2">
    {
      friends.map(({ name, href, avatar, type }) => (
        <Tooltip label={name} shape="circle">
          <a
            href={href}
            target="_blank"
            rel="noopener noreferrer"
            position="relative"
            w="full"
            h="full"
            flex="~ col items-center"
            z="1 group-hover:10"
            rounded="full"
            bg="muted"
            border="~ 1 color-line"
            outline="~ none focus-visible:(4 yellow offset-0)"
            transform="~ translate-y-0 group-hover:translate-y--2"
            transition="transform duration-250"
          >
            <img
              src={`${base}/${avatar}`}
              alt={name}
              w="full"
              h="full"
              shadow="lg group-hover:xl"
              rounded="full"
              filter="dark:brightness-85"
              transition="all"
            />
            {status(type) && (
              <span
                title={status(type)?.name}
                class={status(type)?.color}
                position="absolute"
                right="-2"
                bottom="0"
                w="45%"
                h="45%"
                flex="~ items-center justify-center"
                p="1"
                rounded="full"
              >
                <span
                  class={status(type)?.icon}
                  w="full"
                  h="full"
                  text="light"
                />
              </span>
            )}
          </a>
        </Tooltip>
      ))
    }
  </div>
</div>
