---
const links = [
  {
    name: '代码可行',
    href: '/dev',
    icon: '/dev/favicon.svg',
    id: 'dev',
    color: 'bg-blue-4',
  },
  {
    name: '越过长城',
    href: '/server',
    icon: '/server/favicon.svg',
    id: 'server',
    color: 'bg-green-4',
  },
  {
    name: '时间之外',
    href: '/lab',
    icon: '/lab/favicon.svg',
    id: 'lab',
    color: 'bg-red-4',
  },
  {
    name: '随意链接',
    href: 'https://iokl.link',
    icon: '/link.svg',
    id: 'router',
    color: 'bg-purple-4',
  },
]
---

<div grid="~ cols-2 gap-4" w="full">
  {
    links.map(({ name, href, icon, id, color }) => (
      <a
        href={href}
        target={href.startsWith('http') ? '_blank' : '_self'}
        rel={href.startsWith('http') ? 'noopener noreferrer' : ''}
        class="group"
        position="relative"
        w="full"
        h="22 sm:24"
        p="x-4 y-3.5"
        flex="~ col items-start justify-between gap-1"
        border="~ 1 color-line"
        shadow="lg hover:xl"
        bg="muted"
        rounded="md"
        transition="shadow"
        outline="~ none focus-visible:(4 yellow offset-0)"
        overflow="hidden"
      >
        <div flex="~ row items-center gap-2">
          <span class={color} w="1" h="4.5" rounded="md" />
          <h2 text="main" font="900" z="5" leading="6">
            {name}
          </h2>
        </div>
        <code text="subtle xs" font="mono" leading="4" z="5">
          {'->'} {id}
        </code>
        <img
          src={icon}
          alt={name}
          position="absolute"
          class="right--12 bottom--10 group-hover:right--10"
          w="28"
          h="28"
          z="10"
          bg="muted"
          rounded="full"
          filter="drop-shadow-lg"
          transition="all duration-250"
        />
      </a>
    ))
  }
</div>
