---
const avatar = 'https://file.lifeni.life/avatar/friends'

// prettier-ignore
const friends = [
  { name: 'Nanako', link: 'https://tanakarino.cn/', avatar: `${avatar}/Nanako.webp` },
  { name: 'bluebonnet27', link: 'https://bluebonnet27.github.io/', avatar: `${avatar}/bluebonnet27.webp` },
  { name: 'GluttonK', link: 'https://blog.csdn.net/GluttonK/', avatar: `${avatar}/GluttonK.webp` },
  { name: 'Wumbuk', link: 'https://blog.csdn.net/qq_48081868/', avatar: `${avatar}/Wumbuk.webp` },
  { name: 'YueChen', link: 'https://www.yuechen.xyz/', avatar: `${avatar}/YueChen.webp` },
  { name: 'ss967', link: 'https://ssblog.top/', avatar: `${avatar}/ss967.webp` },
  { name: 'Bakapiano', link: 'https://bakapiano.github.io/', avatar: `${avatar}/Bakapiano.webp` },
]
---

<div w="full" grid="~ cols-5 sm:cols-8 gap-4" p="b-4">
  {
    friends.map(({ name, link, avatar }) => (
      <a
        href={link}
        target="_blank"
        rel="noopener noreferrer"
        rounded="full"
        border="~ 1 color-line"
        outline="~ none focus-visible:(4 yellow offset-0)"
        shadow="lg hover:xl"
        transition="shadow duration-250"
      >
        <img
          src={avatar}
          alt={name}
          title={name}
          z="1 hover:10"
          w="full"
          h="full"
          rounded="full"
          transform="~ scale-100 hover:scale-125"
          transition="transform"
        />
      </a>
    ))
  }

  <a
    href="mailto:liangfengning@foxmail.com"
    title="通过邮箱联系"
    class="group"
    flex="~ justify-center items-center"
    rounded="full"
      border="~ 1 color-line"
      outline="~ none focus-visible:(4 yellow offset-0)"
    shadow="lg hover:xl"
    bg="muted"
    transition="shadow duration-250"
  >
    <div
      class="icon-tabler:at"
      w="1/2"
      h="1/2"
      z="1 hover:10"
      text="icon group-hover:link"
      rounded="full"
      transition="colors"
    >
    </div>
  </a>
</div>
