---
import Tooltip from '../ui/Tooltip.astro'
const avatar = 'https://file.lifeni.life/avatar/friends'

// prettier-ignore
const friends = [
  { name: 'Nanako', link: 'https://tanakarino.cn/', avatar: `${avatar}/Nanako.webp` },
  { name: 'bluebonnet27', link: 'https://bluebonnet27.github.io/', avatar: `${avatar}/bluebonnet27.webp` },
  { name: 'GluttonK', link: 'https://blog.csdn.net/GluttonK/', avatar: `${avatar}/GluttonK.webp` },
  { name: 'Wumbuk', link: 'https://blog.csdn.net/qq_48081868/', avatar: `${avatar}/Wumbuk.webp` },
  { name: 'YueChen', link: 'https://www.yuechen.xyz/', avatar: `${avatar}/YueChen.webp` },
  { name: 'ss967', link: 'https://ssblog.top/', avatar: `${avatar}/ss967.webp` },
  { name: 'Bakapiano', link: 'https://bakapiano.github.io/', avatar: `${avatar}/Bakapiano.webp` },
]
---

<div flex="~ col gap-6 sm:gap-5" p="b-5 sm:b-0">
  <div flex="~ col gap-1.5" p="x-2 sm:x-0">
    <p text="subtle sm">这些是我的朋友，欢迎去他们的网站看看。</p>
    <p text="subtle sm">或者可以通过邮箱联系我。</p>
  </div>

  <div w="full" grid="~ cols-5 xs:cols-6 sm:cols-5 gap-4">
    {
      friends.map(({ name, link, avatar }) => (
        <Tooltip content={name} circle>
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            position="relative"
            z="1 hover:10"
            rounded="full"
            outline="~ none focus-visible:(4 yellow offset-0)"
          >
            <img
              src={avatar}
              alt={name}
              w="full"
              h="full"
              border="~ 1 color-line"
              shadow="lg hover:xl"
              rounded="full"
              filter="dark:brightness-85"
              transform="~ translate-y-0 group-hover:translate-y--2"
              transition="all duration-250"
            />
          </a>
        </Tooltip>
      ))
    }
    <a
      href="mailto:liangfengning@foxmail.com"
      title="通过邮箱联系"
      class="group"
      flex="~ justify-center items-center"
      rounded="full"
      border="~ 1 color-line"
      outline="~ none focus-visible:(4 yellow offset-0)"
      shadow="lg hover:xl"
      bg="muted"
      transition="shadow duration-250"
    >
      <div
        class="icon-tabler:at"
        w="1/2"
        h="1/2"
        z="1 hover:10"
        text="icon group-hover:link"
        rounded="full"
        transition="colors"
      >
      </div>
    </a>
  </div>
</div>
