---
import { Image } from 'astro:assets'

interface Props {
  name: string
  href: string
  avatar: string
}

const { name, href, avatar } = Astro.props
---

<li class:list={['list-none']}>
  <a
    aria-label={name}
    href={href}
    target={href.startsWith('http') ? '_blank' : '_self'}
    rel={href.startsWith('http') ? 'nofollow noopener noreferrer' : ''}
    title={name}
    class:list={[
      'w-full h-auto',
      'p-1',
      'flex flex-col items-center gap-1',
      'bg-transparent hover:bg-neutral-100 dark:hover:bg-neutral-850',
      'text-neutral-500 hover:text-neutral-600 dark:text-neutral-500 dark:hover:text-neutral-400',
      'focus-visible:outline-yellow-500 dark:focus-visible:outline-yellow-400 focus-visible:outline-4 focus-visible:outline-offset-1',
      'rounded-md',
      'no-underline',
      'transition-colors',
    ]}
  >
    <span
      class:list={[
        'relative',
        'px-1.75 py-1.5',
        'flex flex-col',
        'rounded-full',
      ]}
    >
      <img
        src={avatar}
        alt={name}
        loading="lazy"
        class:list={[
          'w-full h-auto',
          'text-sm text-neutral-500 dark:text-neutral-400',
          'bg-neutral-100 dark:bg-neutral-900',
          'shadow-lg hover:shadow-xl',
          'rounded-full',
          'transition-shadow',
          'animate-fade-in',
        ]}
      />
    </span>
    <span
      class:list={['w-full', 'px-1 pb-1', 'text-xs text-center', 'truncate']}
    >
      {name}
    </span>
  </a>
</li>
