---
import { image } from '../../libs/utils'

export interface Props {
  type: 'article' | 'story' | string
  href: string
  mode?: 'grid' | 'list'
  frontmatter: {
    name: string
    id: string
    description: string
    date?: {
      created: string
      updated: string
    }
    draft?: boolean
    cover?: {
      image: string
      copyright: string
    }
  }
}

const { type, href, frontmatter, mode = 'list' } = Astro.props
---

<div
  position="relative"
  w={mode === 'grid' ? 'full' : '80vw sm:full'}
  flex="~ col justify-end gap-4"
  rounded="md"
>
  <a
    {href}
    tabindex="-1"
    class="group"
    flex="1"
    w="full"
    h="48"
    min-h="48"
    filter="dark:brightness-85"
    bg="muted"
    border="~ 1 color-line"
    shadow="lg hover:xl"
    transition="shadow"
    rounded="md"
    overflow="hidden"
  >
    {
      frontmatter?.cover && (
        <img
          src={image(frontmatter.cover.image)}
          alt={`${frontmatter.name} | ${frontmatter.cover.copyright}`}
          transform="~ scale-100 group-hover:scale-105"
          w="full"
          h="48"
          rounded="md"
          object="center cover"
          transition="transform duration-250"
        />
      )
    }
  </a>
  <div
    position="relative"
    z="10"
    flex="~ col gap-1 items-start"
    p="x-2 sm:x-0"
    rounded="b-md"
  >
    <div flex="~ row items-center gap-2.5">
      {
        type === 'article' && frontmatter?.draft && (
          <span
            text="sm light"
            p="x-1 y-0.5"
            font="700"
            bg="yellow"
            rounded="sm"
          >
            草稿
          </span>
        )
      }
      <a {href} rounded="sm" outline="~ none focus-visible:(4 yellow offset-2)">
        <h2 w="full" text="xl main hover:link" font="900" transition="colors">
          {frontmatter.name}
          {type === 'story' && <span>#{frontmatter.id}</span>}
        </h2>
      </a>
    </div>

    <p w="full" text="sm truncate subtle" leading="6">
      {frontmatter.description}
    </p>
  </div>
</div>
