---
import { image, time } from '../../libs/utils'

export interface Props {
  href: string
  cover?: {
    image: string
    copyright: string
  }
  name: string
  description: string
  date?: {
    created: string
    updated: string
  }
  grid?: boolean
}

const { href, cover, name, description, date, grid } = Astro.props
---

<div
  position="relative"
  w={grid ? 'full' : '80vw sm:full'}
  flex="~ col justify-end gap-5"
  rounded="md"
>
  <a
    {href}
    tabindex="-1"
    class="group"
    flex="1"
    w="full"
    h="48"
    min-h="48"
    filter="dark:brightness-85"
    bg="muted"
    border="~ 1 color-line"
    shadow="lg hover:xl"
    transition="shadow"
    rounded="md"
    overflow="hidden"
  >
    {
      cover && (
        <img
          src={image(cover.image)}
          alt={`${name} | ${cover.copyright}`}
          transform="~ scale-100 group-hover:scale-105"
          w="full"
          h="48"
          rounded="md"
          object="center cover"
          transition="transform duration-250"
        />
      )
    }
  </a>
  <div
    position="relative"
    z="10"
    flex="~ col gap-1 items-start"
    p="x-2 sm:x-0"
    rounded="b-md"
  >
    <a {href} rounded="sm" outline="~ none focus-visible:(4 yellow offset-2)">
      <h2 w="full" text="xl main hover:link" font="900" transition="colors">
        {name}
      </h2>
    </a>

    <p w="full" text="sm truncate subtle" leading="6">
      {description}
    </p>
  </div>
</div>
