---
import { image, time } from '../../libs/utils'
import type { Article, Story } from '../../types'

export interface Props {
  type: 'article' | 'story' | string
  href: string
  mode?: 'grid' | 'list'
  frontmatter: Article | Story
}

const { type, href, frontmatter, mode = 'list' } = Astro.props
const date =
  frontmatter.date.created === frontmatter.date.updated
    ? `发布于 ${time(frontmatter.date.created, { calendar: true })}`
    : `编辑于 ${time(frontmatter.date.updated, { calendar: true })}`
---

<div
  position="relative"
  w={mode === 'grid' ? 'full' : '80vw sm:full'}
  flex="~ col justify-end gap-4"
  rounded="md"
>
  <a
    {href}
    tabindex="-1"
    class="group"
    flex="1"
    w="full"
    h="48"
    min-h="48"
    filter="dark:brightness-85"
    bg="muted"
    border="~ 1 color-line"
    shadow="lg hover:xl"
    transition="shadow"
    rounded="md"
    overflow="hidden"
  >
    {
      frontmatter?.cover && (
        <img
          src={image(frontmatter.cover.image)}
          alt={`${frontmatter.name} | ${frontmatter.cover.copyright}`}
          transform="~ scale-100 group-hover:scale-105"
          w="full"
          h="48"
          rounded="md"
          object="center cover"
          transition="transform duration-250"
        />
      )
    }
  </a>
  <div
    position="relative"
    z="10"
    flex="~ col gap-1 items-start"
    p="x-2 sm:x-0"
    rounded="b-md"
  >
    <div flex="~ row items-center gap-2.5">
      {
        frontmatter?.draft && (
          <span
            text="sm light"
            p="x-1 y-0.5"
            m="r-0.5"
            font="700"
            bg="yellow"
            rounded="sm"
          >
            草稿
          </span>
        )
      }
      <a
        {href}
        rounded="sm"
        outline="~ none focus-visible:(4 yellow offset-2)"
        flex="~ row items-center gap-2.5"
        text="xl main hover:link"
        transition="colors"
      >
        <h2 w="full" font="900">
          {frontmatter.name}
        </h2>
      </a>
      {
        type === 'story' && (
          <span text="xl subtle" font="700">
            #{frontmatter.id}
          </span>
        )
      }
      {
        type === 'article' && (frontmatter as Article)?.subtitle && (
          <span text="xl subtle" font="700">
            {(frontmatter as Article).subtitle}
          </span>
        )
      }
    </div>

    <p w="full" text="sm truncate subtle" leading="6">
      {frontmatter.description}
    </p>
  </div>
</div>
