---
export interface Props {
  name?: string
  icon?: string
  size?: string
  class?: string
}

const { name, icon, size, class: classes } = Astro.props
---

<span class={`${icon} ${classes}`} w={size} h={size} {size} flex="~">
  <span class="sr-only">图标：{name}</span>
</span>
